# ----------------------------------------------------------------------------#
# Requerimientos para el manejo del núcleo de repositorios
# ----------------------------------------------------------------------------#

mkdocs~=1.6
mkdocstrings-python~=2.0
mkdocs-material~=9.7
pymdown-extensions~=10.21
mkdocs-macros-plugin~=1.3
mkdocs-glightbox~=0.4
mkdocs-to-pdf~=0.11
